body{
    
    margin: 0rem;
    height: 300px;
    overflow: scroll;
}
.header{
    text-align: center;
    height: 4rem;
    padding: 0.2rem 0rem;
    width: 0 auto;
}
.top{
    background-color: #90db738e;
    padding: 0.2rem;
}
.top p{
    color: blueviolet;
    font-size: x-large;
    margin: 1rem;
}
form{
    margin: 0 auto;
    padding: 1rem 2rem;
    max-height: 30rem;
    overflow: scroll;
    background-color: beige;
}
#form{
    height: 300px;
}
form p input{
    margin: 0.2rem 0rem 0.5rem 1.5rem
}
button{
    height: 2.0rem;
    font-size: large;
    padding: 0.2rem 0.2rem;
    background-color: blueviolet;
    border: thin grey;
}
#view{
    height: 2.0rem;
    width: 15rem;
    border: medium slategrey;
    
}
footer{
    height: 4rem;
    background-color: whitesmoke;
    text-align: center;
    padding-top: 0.5rem;
}